<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Tenemos muchas propuestas para la Ciudad!</h2>
                <hr class="light">
                <p class="text-faded">Hace un par de años parte de nuestro equipo decidió crear la primera aplicación de autos compartidos del país SimpleRide buscando brindar una nueva manera de movilidad. Hoy queremos ir más allá.</p>
                <h4>!Vamos a revolucionar la movilidad en la ciudad!</h4>
            </div>
        </div>
    </div>
</section>
