<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡La movilidad en Cuenca puede mejorar!</h2>
                <hr class="light">
                <p class="text-faded">Siempre interesados en buscar soluciones, hace un par de años parte de nuestro equipo ha dado el primer paso y decidió crear la primera aplicación de autos compartidos del País <a href="https://simpleride-ec.com" target="_blank" class='simpleride'>SimpleRide</a> buscando brindar una alternativa innovadora de crear una comunidad de viajeros que ayude a mejorar de movilidad. ¡Hoy queremos ir más allá!</p>
                <h4>!En el HACKATÓN StartUPS-EMOV Vamos a revolucionar la movilidad de nuestra Ciudad!</h4>
            </div>
        </div>
    </div>
</section>
